body, button, code, dd, dl, dt, fieldset, figure, form, h1, h2, h3, h4,  h5, h6, legend, li, ol, p, pre, table, td, th, ul {margin: 0; padding: 0;}
a {text-decoration: none;}
img {vertical-align: middle;}
ol, ul {list-style: none;}
address {font-style: normal;}
hr {display: none;}
body, html {margin: 0; padding: 0; font-family: 'Helvetica', 'Arial', sans-serif; color: #303030; box-sizing: border-box;}






