@charset "utf-8";
@import
 url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
/* reset */
* {margin: 0; padding: 0;}
ul {list-style: none;}
hr, .arrow, footer h2, footer ul
{display: none;}
hr {display: none;}
a {color: #202020; text-decoration: none;}
a:hover, a:focus {color:#f00; text-decoration: underline;}
.blind{position:absolute; text-indent: -9999%; font-size:0; line-height:0;}

/* base */
body{background:url(../img/visual_bg.jpg) no-repeat top center; background-size:auto 364px; font:62.5% Arial,"맑은 고딕",sans-serif;}


/* header */
header{height: 364px;}
.navwrap { position: fixed; width:100%; height: 60px; border-bottom: 1px solid #ccc; background: #fff;}

.navwrap h1{ position: absolute; left: 3.125%; margin: 0;  font-size: 2.7em; line-height: 60px;}

nav button{ 
    position: absolute; right: 3.125%; top:13px; 
    width: 44px; height: 34px; border: 1px solid #ccc; border-radius: 2px; 
    background: #fff; }

nav span {
    display: block; 
    width:20px; height:2px; margin: 4px auto; background:#666;
}

nav ul {
    position: absolute; top: 61px; 
    width: 100%; 
    background: #fff;
    display: none;
}

nav li a {
display: block; 
height: 40px; padding-left: 3.125%;    
border-bottom: 1px solid #eee;
font-size: 1.4em; line-height: 40px; font-weight:bold; text-transform: uppercase; 
}

nav li.last a {
    color: #96c218;
}
header p{
    padding-top: 30px;
    color: #fff;
    font-size: 1.2em; font-style: italic; text-align: center;
}
header p.title{
    padding-top: 130px;
    font-size: 3em; font-style: normal; font-weight: bold; 
}

header p img {
    height: 50px;
}

/* main */
section{
    padding: 100px 3.125%; border-bottom: 1px 
        solid #eee; 
}
section:after{
    content:""; display: block; clear: both;
}
section h2{
    margin-bottom: 50px;
    font-size: 3em; text-align: center; 
}
section figure {
    float: left;
    margin: 0 0 30px;  width: 50%;
}

section figure img {
    width: 100%; max-width:300px;margin-bottom: 20px;
}
section figcaption {
    padding-right: 0.5em;
    color: #494949;
    font-size: 1.5em;
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}

/* #aboutme */
#aboutme h2 + div {
    margin-bottom: 50px;
}
#aboutme h3 {
    margin-bottom: 25px;
    color: #494949;
    font-size: 2em; text-align: center; 
}
#aboutme li {
    height: 20px;
    color: #666; 
    font-size: 1.5em; text-align: center; 
}

/* website*/
.slider a{
    display: block; 
    height: 200px;
    background: #eee;
    }
.slider div {
    margin-top: 20px;
}
.slider h3{
    margin-bottom: 10px;
    color: #494949;
    font-size: 1.5em; 
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
}
.slider p {
    font-size: 1.2em; line-height: 1.417;
}

/* #contact */
#contact {
    padding-bottom: 30px;
}
#contact li {
    height: 40px; margin-top: 10px;
    background: #96c218;
    font-size: 1.5em; line-height: 40px; text-align: center;
}
#contact a {
    display: block;
    color: #fff; font-weight: bold; 
}
#contact .mobile b, #contact .email b{
    float:left;
    width: 30%; color: #fff; 
}
#contact .mobile a, #contact .email a{
    float: right;
    width: 70%;
    background: #f5f5f5; color: #202020;
}

/* footer */
footer {
    height: 60px; padding: 0 3.125%;
    background: #2d2d2d; color: #fff;
}
footer p{
    float: right;
    font-size: 2em; line-height: 60px; font-weight: bold;
}


/* 641 ~ 767 */
@media screen and (min-width:641px) and (max-width:767px){
    /* main */
    section figure{
        width: 40%;
    }
    section figure:nth-of-type(2n){
        float:right;
    }
}


/* 768 */
@media screen and (min-width:768px){
    
    /* reset */
    .arrow{
        display: block;
        text-align: center;
    }
    
    
    /* base */
    body{
    background-size: auto;
    }
    
    /* header */
    header {height: 728px;}
    .navwrap h1{
        font-size: 2.6em;
    }
    nav button { display: none;}
    nav ul{
        display:block; position: static; float:right; width: auto; margin-right: 3.125%;
       
    }
    nav li{
        float:left;
    }
    nav li a{
        height: 60px; padding-left: 40px; border-bottom : none; 
        line-height: 60px; 
}
    header p{
        padding-top: 40px;
        font-size: 2.6em; 
    }
    header p.title {
        padding-top: 210px;
        font-size : 8em;
    }
    header p img {
        height: auto;
        }
    header .arrow{
        padding-top: 40px;
    }
    
    /* main */
    section{
        padding: 150px 3.125% 30px;
    }
    section .arrow{
        clear:both;
    padding-top: 100px;
    }
    section h2{
        margin-bottom: 100px;
        font-size: 6em;
        }
    section figure{
        width: 25%; 
        margin: 0 0 50px 12.5%
    }
    section figure.ml0{
        margin-left: 0;
    }
    section figure img{
        margin-bottom: 30px;
    }
    section figcaption{
        font-size: 2.4em;
    }
    
    /* #aboutme */
    #aboutme div {
        float: left;
        width: 50%;
    }
    #aboutme h3 {
        margin-bottom: 50px;
        font-size: 4em;
    }
    #aboutme li{
        height: 34px;
        font-size: 2.4em;
    }
    
    
    /* website */
    .slider {position: relative;}
    .slider a {
        height: 400px;
    }
    .slider div{
        position: absolute; right: 100px;
        top: 150px;
        width: 500px; margin-top: 0;
    }
    .slider h3{
        font-size: 2.4em;
    }
    .slider p{
        font-size: 2em; line-height: 1.7;
    }
    
    
    /* #contact */
    #contact {
        padding-bottom: 100px;
    }
    #contact ul{
        width: 620px; margin: 0 auto;
    }
    #contact li{
        height: 60px; 
        font-size: 2em; line-height: 60px;
    }
    #contact .mobile b, #contact .email b{
        width: 200px;
    }
    #contact .mobile a, #contact .email a {
        width: 420px;
    }
    
    #contact li.blog, #contact li.facebook, #contact li.instagram {float: left; width: 200px; margin-left: 10px}
    
    #contact li.blog{
        margin-left: 0;
    }
    
    /* .bxslider */
    .bx-wrapper .bx-controls-direction a{
        width: 40px; height: 78px;}
    
    .bx-wrapper .bx-prev{
       background-size: auto;
    }   
    .bx-wrapper .bx-next{
        background-size: auto;
    }
    .bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
        bottom: 20px;
    }
    .bx-wrapper .bx-pager{
        left: 40px;
    }
     .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
        right: 40px;
    }
    .bx-wrapper .bx-viewport{
        left: 0;
        box-sizing: border-box;
    }

    
    
}

/* 1300 */
@media screen and (min-width:1300px) {
    
    /* reset */
     footer h2, footer ul {display: block;}
    
    /* base */
    body{font-family:Arial,"Nanum Gothic",sans-serif;}
    
    /* header */
    .navwrap{
        top: 30px; left: 50%; 
        width: 1200px; margin-left: -600px; border: 1px solid #ccc; 
    }
    
    /* main */
    section{
        width: 1200px; margin: 0 auto;
    }

    /* footer */
    footer {
        height: 230px; padding-top: 50px;
    }
    footer p {
        float: left; 
        width: 300px;
        font-size: 3em; line-height: 1;
    }
    footer a {
        color: #fff; 
    }
    .footerInner {
        width: 1200px; margin: 0 auto; 
    }
    .footerInner > ul {
    float: left;
    width: 900px; margin-top: 10px;
    }
    .footerInner > ul > li {
    float: left;
    width: 270px;
    }
    .footerInner > ul > li.last{
        width: 80px;
    }
    .footerInner > ul > li > a {
        font-size: 1.6em; font-weight:bold;
        text-transform: uppercase;
    }
    .footerInner > ul ul {
        margin-top: 30px;
        font-size: 1.4em;
    }
    .footerInner > ul ul li {
        height: 24px;
    }



}











