$font_color: #333;
$font_family:'NanumGothic', Serief;
$font_size: 16px;
$line_height: percentage(20px / $font_size);

// $assetPath : "dist/images";
// @function get-path-to-assets($assetPath){
//     @return $assetPath;
//   }